{% extends "base.html" %}

{% block content %}
<h1>List of Files</h1>

<table class="table table-dark">
    <tr>
        <th>slug</th>
        <th>filename</th>
        <th>size</th>
        <th>downloads</th>
        <th>mime-type</th>
        <th>created at</th>
    </tr>

    {% for file in files %}
    <tr>
        <td>{{ file.slug }}</td>
        <td>
            <a href="{{ base_url }}/{{ file.slug }}">{{ file.filename }}</a>
        </td>
        <td>{{ file.size | filesizeformat }}</td>
        <td>{{ file.downloads }}/{{ file.max_downloads }}</td>
        <td>{{ file.mime_type }}</td>
        <td>{{ file.created_at.strftime('%d.%m.%Y %H:%M') }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}